################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/testApp/.vs/testApp/v15/Browse.VC.opendb
